include ../pug-mixins/otstup

table(width='100%', align='center'): tbody: tr
  td(align='center')

    +otstup('Verhniy otstup')

    table(style='border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;', width='100%', align='center'): tbody: tr
      td.outlook-fallback-font-family.newFontSize16px(style='font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#000000; -ms-text-size-adjust:100%; line-height:150%; padding:0px 10px 0px 10px; text-align:left;', align='left')
        div(style='text-align: right;')
          a(href='https://www.myasnov.ru/', style='text-decoration:underline; color:#7A1600; font-style:normal;', e-editable='CTA-Link')
            span(style='font-size:16px;', e-editable='CTA-Title')
              em Подробнее>>

    +otstup('Nizhniy otstup')
