- var values = ['Item 01', 'Item 02', 'Item 03', 'Item 04', 'Item 05', 'Item 06', 'Item 07', 'Item 08', 'Item 09', 'Item 10', 'Item 11', 'Item 12', 'Item 13', 'Item 14', 'Item 15'];

table(width='100%', align='center'): tbody: tr
  td(align='center')
    table(style='border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;', width='100%', align='center'): tbody: tr

      td(style='font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#000000; -ms-text-size-adjust:100%; line-height:150%; padding:0px 10px 0px 10px; text-align:left;', align='left')
        table(width='100%'): tbody

          each value, index in values

            e-optional(name= value)
              tr
                td(style='font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000000; -ms-text-size-adjust:100%; line-height:150%; text-align:right; padding-top: 5px;padding-bottom: 5px;', width='20', valign='top', align='right') ●

                td(width='5')
                  br

                td(style='font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#000000; -ms-text-size-adjust:100%; line-height:150%; text-align:left;padding-top: 5px;padding-bottom: 5px;', e-editable='text1', valign='top', align='left') Пункт !{index + 1}
