mixin otstup20(type)
  e-optional(name= type)
    table(width='100%', align='center'): tbody: tr
      td.adjustPadding(style='padding:20px 0px 0px 0px;', align='center')
        table(width='100%', align='center'): tbody: tr
          td(style='font-size:0px; line-height:0px;', height='0', bgcolor='#ffffff')
